body{
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: sans-serif;
}
.containerr{
	width: 1280px;
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
.containerr .box{
	position: relative;
	width: 300px;
	height: 300px;
	background: #fff;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
.containerr .box .imgBox{
	position: relative;
	overflow: hidden;
}
.containerr .box .imgBox img{
	max-width: 100%;
	transition: transform 2s;
}
.containerr .box:hover .imgBox img{
transform: scale(1.2);
}
.containerr .box .details{
	position: absolute;
	top: 10px;
	left: 10px;
	bottom:10px;
	right: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s; 
}
.containerr .box:hover .details{
transform: scaleY(1);
}

.containerr .box .details .content{
 	position: absolute;
 	top: 50%;
 	transform: translateY(-50%);
 	text-align: center;
 	padding: 15px;
 	color: #fff;

}
.containerr .box .details .content h2{
	 margin: 0;
	 padding: 0;
	 font-size: 20px;
	 color: #ff0;

	  
}
.containerr .box .details .content h4{
	 font-size: 14px;
	 color: #fff;
	 text-align: right;
	 font-family: all;


	  
}
.containerr .box .details .content h5{
	 font-size: 10px;
	 color: #fff;
	 text-align: right;
	 font-family: all;
	 

	  
}
.containerr .box .details .content p{
	 margin: 10PX 0 0;
	 padding: 0;
	   

	  
}